html {
    height: 100%;
}

body {
    height: 100%;
    background: #FFF2CC;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    
}

h2 {
    text-align: center;
    font-size: 100px;
    margin: 500px;
    height: 100%;
    
}

.press {
    margin: 100px auto;
    background: white;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}

button {
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    
}

.press:hover{
    background: #B4BBBA;
}

.yes {
    height: 100%;
    background-color: #B5D7A7;
    margin: -500px;
}

.no {
    background: #EA9999;
    height: 100%;
    margin: -500px;
}